Repository AtlasRender/atlas-core, pull requests merged in 2020-12, with the labels that each got.

#186 Fixed error codes, returned on error.
  .idea/inspectionProfiles/Project_Default.xml
  package.json
  src/controllers/OrganizationsController.ts
  src/controllers/UploadController.ts
  src/controllers/UsersController.ts
  src/controllers/VersionsController.ts
Labels: controller, invalid

#187 [JobController] Added DESC sorting by creation time. Added query params.
  src/controllers/JobController.ts
  src/processors/TaskReportsProcessor.ts
Labels: controller, invalid

#190 Add frame range system
  .idea/atlas-core.iml
  .idea/dataSources/6d93cf7f-dcf3-464a-a150-a540bee9dcf7.xml
  .idea/dataSources/6d93cf7f-dcf3-464a-a150-a540bee9dcf7/storage_v2/_src_/database/postgres.edMnLQ.meta
  .idea/dataSources/6d93cf7f-dcf3-464a-a150-a540bee9dcf7/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
  .idea/dataSources/6d93cf7f-dcf3-464a-a150-a540bee9dcf7/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
  .idea/dataSources/6d93cf7f-dcf3-464a-a150-a540bee9dcf7/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
  .idea/runConfigurations/Test_with_Jest.xml
  .idea/sqldialects.xml
  .idea/webResources.xml
  src/controllers/JobController.ts
  src/controllers/PluginController.ts
  src/controllers/RenderTaskAttemptController.ts
  src/controllers/TasksController.ts
  src/core/FrameRange/FrameRange.ts
  src/core/FrameRange/FrameRangeItem.ts
  src/core/FrameRange/FrameRangePair.ts
  src/entities/RenderTask.ts
  src/index.ts
  src/processors/JobsProcessor.ts
  src/validators/JobRequestValidators.ts
  tests/core/FrameRange/FrameRange.test.ts
  tests/core/FrameRange/FrameRangeItem.test.ts
  tests/core/FrameRange/FrameRangePair.test.ts
Labels: AMQP, controller, development, entity, optimization

#193 Add reports controller
  src/config.ts
  src/controllers/JobController.ts
  src/controllers/PluginController.ts
  src/controllers/RenderTaskAttemptController.ts
  src/controllers/TasksController.ts
  src/controllers/UploadController.ts
  src/controllers/UserTokensController.ts
  src/entities/RenderTaskAttempt.ts
  src/entities/RenderTaskAttemptLog.ts
  src/globals.ts
  src/processors/TaskReportsProcessor.ts
  src/subscribers/RenderJobSubscriber.ts
  src/subscribers/RenderTaskAttemptLogSubscriber.ts
  src/subscribers/RenderTaskSubscriber.ts
Labels: controller, development, entity

#195 Changed logic to load entity before deleting, so WebSocket event now validly thrown.
  src/config.ts
  src/controllers/JobController.ts
  src/subscribers/RenderJobSubscriber.ts
Labels: bug, controller

#196 [Server] Added DELETE method to be parsed in koa-body.
  src/core/Server.ts
Labels: bug

#201 Fix incorrect job progress tracking
  src/config.ts
  src/controllers/JobController.ts
  src/processors/TaskReportsProcessor.ts
  src/subscribers/RenderJobSubscriber.ts
  src/subscribers/RenderTaskAttemptLogSubscriber.ts
Labels: bug, controller, invalid, subscriber

#208 Fixed RenderTaskAttemptLog not sending afterUpdate event.
  src/subscribers/RenderJobSubscriber.ts
  src/subscribers/RenderTaskAttemptLogSubscriber.ts
  src/subscribers/RenderTaskAttemptSubscriber.ts
  src/subscribers/RenderTaskSubscriber.ts
Labels: bug

#217 Fixed user deletion from organization.
  src/controllers/OrganizationsController.ts
Labels: bug, controller

#218 [RolesController] Reworked POST /:role_id logic.
  src/controllers/RolesController.ts
  src/validators/OrganizationRequestValidators.ts
Labels: bug, controller

#223 [OrganizationController] Added route for getting user permissions.
  src/controllers/OrganizationsController.ts
  src/interfaces/UserWithPermissions.ts
Labels: controller, development, enhancement

#225 [OrganizationsController] Added defaultRole creation.
  src/controllers/OrganizationsController.ts
  src/validators/OrganizationRequestValidators.ts
Labels: controller, development, enhancement

#226 [OrganizationsController] Edited roles checking.
  src/controllers/OrganizationsController.ts
Labels: bug, controller

#228 Fix defaultRole not applying when creating org with userIds.
  src/controllers/OrganizationsController.ts
Labels: bug, controller

#234 [UsersController] Removed password checking for user-editing.
  src/controllers/JobController.ts
  src/controllers/UsersController.ts
  src/validators/UserRequestValidators.ts
Labels: controller

#209 [RenderTaskSubscriber] Changed logic for setting tasks status in job.
  src/processors/TaskReportsProcessor.ts
  src/subscribers/RenderTaskSubscriber.ts
Labels: bug
